# Terraform cache
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Ignore SSH keys
*.pem
*.key
terra-key-ec2
terra-key-ec2.pub

# Ignore OS files
.DS_Store
Thumbs.db